{% extends "AppAdminBundle:Layout:login.html.twig" %}

{% block fos_user_content %}

    <body class="login-body">

    <div class="container">
        <form class="form-signin" method="post" action="{{ path("fos_user_change_password") }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h2 class="form-signin-heading">Changement de mot passe</h2>
            <div class="login-wrap">
                {% if error %}
                    <div class="alert alert-block alert-danger fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        {{ error }}
                    </div>
                {% endif %}

                <label for="fos_user_change_password_form_current_password" class="required">Votre mot de passe actuel</label>
                <input type="password" class="form-control" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" autocomplete="off">
                <label for="fos_user_change_password_form_plainPassword_first" class="required">Votre nouveau mot de passe</label>
                <input type="password" class="form-control" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][first]" required="required">
                <label for="fos_user_change_password_form_plainPassword_second" class="required">Confirmez votre nouveau mot de passe</label>
                <input type="password" class="form-control" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" required="required">
                {{ form_widget(form._token) }}

                <button class="btn btn-lg btn-login btn-block" id="_submit" type="submit" name="_submit">Valider</button>
            </div>
        </form>
    </div>
    </body>
{% endblock %}
